automation/workflows/ai_router_final.json
{
  "name": "AI_Router_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-final",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.query) }}\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "groq1",
      "name": "Call Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI response\nconst data = $input.first().json;\n\nif (data.choices && data.choices[0]) {\n  return {\n    json: {\n      response: data.choices[0].message.content,\n      model: data.model,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else if (data.error) {\n  return {\n    json: {\n      error: data.error.message,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      error: \"Unknown response format\",\n      raw: data,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "code1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Groq": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
