automation/workflows/photo_vision.json
{
  "name": "Photo_Vision_Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "photo-vision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-photo",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "photo-vision-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GOOGLE_AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($json.body.prompt || \"Describe this image in detail. What do you see? Include any text, objects, people, colors, and the overall scene.\") }}\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": {{ JSON.stringify($json.body.mime_type || \"image/jpeg\") }},\n            \"data\": {{ JSON.stringify($json.body.image) }}\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 2048\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gemini-vision",
      "name": "Call Gemini Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"analysis\": {{ JSON.stringify($json.candidates[0].content.parts[0].text) }},\n  \"model\": \"gemini-2.5-flash\",\n  \"finish_reason\": {{ JSON.stringify($json.candidates[0].finishReason) }}\n}",
        "options": {}
      },
      "id": "respond-photo",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Gemini Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini Vision": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
