automation/workflows/quick_capture_working.json
{
  "name": "Quick_Capture_Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quick-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "quick-capture-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Categorize this as ONE word only: task, idea, expense, reminder, or note. Text: \" + $json.body.text + \" Respond with ONLY the category word.\") }}\n    }\n  ],\n  \"temperature\": 0,\n  \"max_tokens\": 10\n}",
        "options": {}
      },
      "id": "groq1",
      "name": "Categorize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst originalText = webhookData.body ? webhookData.body.text : 'unknown';\n\nlet category = 'note';\nif (response.choices && response.choices[0]) {\n  category = response.choices[0].message.content.toLowerCase().trim();\n}\n\nreturn {\n  json: {\n    success: true,\n    text: originalText,\n    category: category,\n    timestamp: new Date().toISOString(),\n    source: 'api'\n  }\n};"
      },
      "id": "code1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Categorize", "type": "main", "index": 0}]]
    },
    "Categorize": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
