automation/workflows/widget_data_working.json
{
  "name": "Widget_Data_Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "widget-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-wd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "widget-data-webhook"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hours = now.getHours();\n\nlet greeting = 'Good morning';\nif (hours >= 12 && hours < 17) greeting = 'Good afternoon';\nelse if (hours >= 17) greeting = 'Good evening';\n\nconst dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\n\nreturn {\n  json: {\n    success: true,\n    greeting: greeting,\n    date: {\n      day: dayNames[now.getDay()],\n      date: now.getDate(),\n      month: monthNames[now.getMonth()],\n      year: now.getFullYear(),\n      formatted: `${dayNames[now.getDay()]}, ${monthNames[now.getMonth()]} ${now.getDate()}, ${now.getFullYear()}`\n    },\n    time: {\n      hours: now.getHours(),\n      minutes: now.getMinutes(),\n      formatted: now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })\n    },\n    timestamp: now.toISOString(),\n    stats: {\n      tasks_pending: 0,\n      tasks_completed_today: 0,\n      captures_today: 0\n    }\n  }\n};"
      },
      "id": "code-wd",
      "name": "Generate Widget Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-wd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Generate Widget Data", "type": "main", "index": 0}]]
    },
    "Generate Widget Data": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
